# Here all possible cases
###### Requirements without Version Specifiers ######
nose
nose-cov
beautifulsoup4
###### Requirements with Version Specifiers ######
docopt == 0.6.1
psycopg2 >= 2.9.3
Flask ~= 2.2.1
flask_cors == 3.0.10
zipp != 3.8.0
speaklater == 1.3